body{
    background-color: rgb(255, 237, 163);
    color: rgb(164,156,255);
   
}

*{
    box-sizing: border-box;
    }

    #left-colomn{

        width: 500px; 
        margin-right: 18em;
        position: relative;
        top: 17.5em;
        
        
        } 
        #right-colomn{
            /* float: left; */
            width: 400px;
            position: relative;
            top: 12em;
            right: 20em;
        
        } 
        .card{
            background-color: rgb(255, 237, 163);
            height: 1000px;
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            margin: 0%;
            margin-top: 0.5em;
            color: rgb(164,156,255);
         }
         #bioImg{
            height: 550px;
            width: 800px;
            border-radius: 2cm;
            box-shadow: 10px 20px 20px 10px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
         }
       
#smalltitle{
    font-family: 'Do Hyeon', sans-serif;
    font-size: 50pt;
    font-weight: 400;
}
 #paragraph{
    font-family: 'Ubuntu', sans-serif;
    font-size: 25pt;
}

#rating{
  
}
#rating-senc{
    font-family: 'Ubuntu', sans-serif;
    font-size: 35pt;
    text-align: center;
    margin-top: -3em;
    font-weight: bold;
}/*
#team{
    padding-top: 5em;
    padding-left: 13em;  
}
.card1s:last-child{
   
    height: 700px;
    width: 100%;
  
}
.teambio{
    font-size: 100px;
    font-family: 'Jost', sans-serif;
    text-align: center;
}*/
.wrapper{
    margin-bottom: 4em;
    margin-left: 12.5em;
   
} 

  
  .flip-card {
    background-color: transparent;
    /* width: 300px;
    height: 300px; */
    perspective: 1000px;
    height: 300px;
    width: 200px;
    display: inline-block;
    border: black solid 2pt;
    object-fit: cover;
    margin-top: 2em;
    margin-left: 5.5em;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: rgb(255, 237, 163);
    color: rgb(164,156,255);
    transform: rotateY(180deg);
    font-family: 'Ubuntu', sans-serif;
    padding-top: 7em;
  }
  #team{
    margin-top: 14em;
    margin-left: 12em;
}

.teambio{
    font-size: 100px;
    font-family: 'Do Hyeon', sans-serif;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 0.5em;
}