*{
    box-sizing: border-box;
    
}
#div2{
    float: left;
    margin-top: 10px;
    /* background-color: bisque; */
}

#div3{
    float: right;
}


#footer1{
    width: 100%;
position: absolute;
    height:100px;
        background-color: blueviolet;
        margin-bottom: 50px;
}

