*{
    box-sizing: border-box;
}
#div1{
    float: left;
    margin-top: 10px;
    background-color: #492922;
}
#div2{
    float: right;
    background-color: #492922; 
footer{
    background-color: #492922 ;
} 
