.nav{
    text-decoration: none;
    font-family: 'Do Hyeon', sans-serif;
    color : white;
    font-weight: 800;
    font-size: 30px;


}
#logo {
    float: left;
    width:120px;
    height: 100px;
    position: relative;
    /* top: 20px;  */
    left: 5px;
}
#name{
    float:left;
    position: relative;
    top: 40px; 
   right: 0em;
    margin-left: 10px;
    text-decoration: none;
    font-family: 'Do Hyeon', sans-serif;
    color: white;
    font-weight: 800;
    font-size: 40px;
    list-style: none;
    
    
}

header{
    position: fixed;
   z-index: 5;
   padding: 10px 16px;
}

/* li{
    margin-left: 5%;
} */
#headerList{
    margin-left: 200%;

    display: flex;
    list-style: none;
    justify-content: space-evenly;
    width: 500px;
    align-items: left;
    

}

.navItem{
   
    position: relative;

}
nav ul li a {
    font-family: 'Do Hyeon', sans-serif;
    
}

nav ul li a:hover:last-child {
    border-bottom: 3px solid black;
  }
  nav ul li {
      padding: 1em;
    margin-top: -60px;
  }
 #header{
   
    width: 30%;

  }

