
body{
  background-color:rgb(255, 237, 163);
}

/* css for model cart  */

/* The Modal (background) */
 .modal { 
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top:200px; /* Location of the box */
  left: 0;
  top: 0;
  width: 70%; /* Full width */
  height: 70%; /* Full height */
  /* overflow: auto; Enable scroll if needed */
  /* background-color: rgb(0,0,0); Fallback color */
  /* background-color: rgba(247, 242, 242, 0.4); Black w/ opacity */
  padding-left: 10%;
} 
 
 
 /* Modal Content */
 .modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(248, 239, 239);
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #dbf1db;
  color: rgb(19, 16, 16);
}

/* in the cart text */

.modal-body ul {
   padding: 20px; 
  list-style-type: circle;
  border: 2px solid rgb(152, 152, 156);
  background-color: rgb(188, 200, 204);
}
.modal-body ul li{
  color:rgb(67, 51, 247);
  padding-left: 5px;
}




#buttRemove{
    padding-left: 20px;
    margin-left: 90%;
    background-color: whitesmoke;
    color:rgb(89, 75, 247);
}


main{
  position: relative;
}

#display-form{
  display: none;
  width:52%;
  height: 10%;
  padding-left: 25% ;
 padding-top: 25%; 
 /* background-color: rgb(164, 156, 255) */
 padding-bottom: 5%;

} 


.pic-form{
  height:150px;
  width: 200px;
}

.div-form{
 margin: 10px;
 /* border:10px soild whitesmoke; */
 background-color: white;
 position: relative;
 
}

#submit-butt{
  width: 100%;
  background-color: white;

}

.check-name{
  position: absolute;
  top:0px;
  left:0px;
  padding: 5px;

}

#myBtn{
  background-color: white;
  color: rgb(89, 75, 247);
  /* padding-left: 20%; */
  margin-left: 10%;
  border-radius: 10%;
  font-size: medium;
  text-align: center;
}


 label {
  color:rgb(89, 75, 247);
}
/* {
  background-color: white;
} */



/* css cart image */


/* html {
  background: #FAF7F2;
  background-image: url(https://s3.postimg.org/s1n3ji1ur/paper_fibers_2_X.png);
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 400;
} */

*, *:before, *:after {
  box-sizing: inherit;
}

.u-clearfix:before,
.u-clearfix:after {
  content: " ";
  display: table;
  
}

.u-clearfix:after {
  clear: both;
}

.u-clearfix {
  *zoom: 1;
}

.subtle {
  color: #aaa;
}

.card-container {
  margin: 25px auto 0;
  position: relative;
  width: 692px;
}

.card {
  background-color: rgb(223,223,223);
  padding: 10px;
  position: relative;
  box-shadow: 0 0 5px rgba(75, 75, 75, .07);
  z-index: 1;
  margin-top:40%;
  margin-bottom: 10%;
}

.card-body {
  display: inline-block;
  float: left;
  width: 310px;
}

.card-number {
  margin-top: 15px;
}

.card-circle {
  border: 1px solid #aaa;
  border-radius: 50%;
  display: inline-block;
  line-height: 22px;
  font-size: 12px;
  height: 25px;
  text-align: center;
  width: 25px;
}

.card-author {
  display: block;
  font-size: 12px;
  letter-spacing: .5px;
  margin: 15px 0 0;
  text-transform: uppercase;
}

.card-title {
  font-family: 'Cormorant Garamond', serif;
  font-size: 60px;
  font-weight: 300;
  line-height: 60px;
  margin: 10px 0;
}

.card-description {
  display: inline-block;
  font-weight: 300;
  line-height: 22px;
  margin: 10px 0;
}

.card-read {
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 6px;
  margin: 5px 0 20px;
  position: relative;
  text-align: right;
  text-transform: uppercase;
}

.card-read:after {
  background-color: #b8bddd;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  top: 9px;
  width: 75%;
}

.card-tag {
  float: right;
  margin: 5px 0 0;
}

.card-media {
  float: right;
  width:50%;
  height: 300px
}

.card-shadow {
  background-color: #fff;
  box-shadow: 0 2px 25px 2px rgba(0, 0, 0, 1), 0 2px 50px 2px rgba(0, 0, 0, 1), 0 0 100px 3px rgba(0, 0, 0, .25);
  height: 1px;
  margin: -1px auto 0;
  width: 80%;
  z-index: -1;
}













